<h1>Create Song form</h1>
<form class="form" #songForm="ngForm" (ngSubmit)="createSong(songForm)">
    <label class="song-label">Title</label>
    <input type="text"  required minlength="2" #title="ngModel" name="title" [(ngModel)]="song.title"/>
    <label class="song-label">Year</label>
    <input type="number" name="year" [(ngModel)]="song.year"/>
    <label class="song-label">Artist</label>
    <select name="artist" [(ngModel)]="song.artist">
        <option value="ABBA">ABBA</option>
        <option value="Sandra Kim">Sandra Kim</option>
        <option value="Måneskin">Måneskin</option>
    </select>
    <button>Create</button>
    <button type="button">Cancel</button>
</form>
<ul *ngIf="songForm.submitted && songForm.invalid && title.errors">
    <li *ngIf="title.errors['required']" >Title is required</li>
    <li *ngIf="title.errors['minlength']">Title must be at least 2 characters </li>
    <li *ngIf="title.errors['notUnique']">Title must be unique</li>
</ul>