<h1>Create product form</h1>
<form class="form" #productForm="ngForm" (ngSubmit)="createProduct(productForm)" >
    <label class="product-label">Code</label><input name="code" type="text" minlength="4" maxlength="4" [(ngModel)]="product.code">
    <label class="product-label">Name</label><input name="name" required type="text" [(ngModel)]="product.name">
    <label class="product-label">Price</label><input name="price" required type="number" [(ngModel)]="product.price">
    <label class="product-label">Important</label><input type="checkbox" name="important"[(ngModel)]="product.isImportant" />
    <button>Create product</button>
    <button type="button" >Cancel</button>
</form>