<h1>CreateProduct form</h1>
<form class="form" #productForm="ngForm" (ngSubmit)="createProduct(productForm)">
    <label class="product-label">Code</label><input type="text" name="code" 
                        #code="ngModel" minlength="4" maxlength="4"   [(ngModel)]="product.code" />
    <label class="product-label">Name</label><input type="text" name="name" 
                        #name="ngModel" required [(ngModel)]="product.name" />
    <label class="product-label">Price</label><input type="number" name="price" 
                        #price="ngModel" required [(ngModel)]="product.price"  />
    <label class="product-label">Important</label><input type="checkbox" name="important"
                        [(ngModel)]="product.isImportant" />
    <button>Create product</button>
    <button type="button" >Cancel</button>
</form>
<ul *ngIf="productForm.submitted && productForm.invalid">
    <li *ngIf="code.errors && (code.errors['minlength'] || code.errors['maxlength'])">
        Code must be 4 characters long
    </li>
    <li *ngIf="name.errors && name.errors['required']">Name is required</li>
    <li *ngIf="price.errors && price.errors['required']">Price is required</li>
 </ul>