.form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 40rem;
    margin: 1rem auto;
}
.product-label{
    text-align: right;
}
.product-label::after{
    content:': ';
}

.ng-touched.ng-invalid:not(form) { /*we don't want a red border around the form*/
    border: 1px solid red
}
.ng-touched.ng-valid, .ng-untouched {
    border: 2px inset initial;
}